/**Fuentes**/
html{
  box-sizing: border-box;
  font-size: 62.5%; /** Reset para REMS - 62.5 = 10px de 16px esto es un snippet **/
}
/*NOTA: la fuente fue importada de google-fonts. no usar mas de 3 fuentes por paginas*/
/*se la coloca en el body por que queremos que este en todos los texto de la pagina*/
/*cualquier navegador muestra web-safe-font pero nosotros para que se vea lindo usaremos fuentes externas*/
body{
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/**Globales**/
img{
  max-width: 100%; /*con esto hacemos que todas las imagenes sean responsivas y se adapten al 100% del tama単o en donde la imagen sea contenida*/
}
.contenedor{
  max-width: 120rem;/** = 1200px**/
  width: 95%;
  margin: 0 auto 0 auto; /*params: arriba derecha abajo izquierda*/
} /** La idea de esta clase es centrar el contenido estableciendo limites sobre el cual sea aplican las dimensiones**/

/*NOTA: por adelantado debemos definir un sistema de tama単os de fuente para que mas adelante no se nos complique*/
/*de esta manera*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
/**Utilidades**/
/*NOTA: asi es como trabajan los framework de bootstrap u otros*/
.seccion{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fw-300{
      font-weight: 300;
}
.centrar-texto{
  text-align: center;
}
.d-block{
  display: block!important;
}
.contenido-centrado{
  max-width: 80rem;/*esta utilidad se puede usar para centrar el contenido limitando los pixeles hasta los que puede extenderse*/
}
/*ventaja de estas utilidades es la reutilizacion de codigo para reducir el css*/

/** Botones **/
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    border: none;
    display: block;
    flex: 0 0 100%;/*porpiedad para los hijos de flex*/

  }/*clase reutilizable*/
@media (min-width:768px) {
    .boton{
      display: inline-block;/*tomara bien los margin y los paddin*/
      flex: 0 0 auto;/*para el caso de que el boton sea hijo de flex*/
    }
}

.boton:hover{
  cursor: pointer;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}

/* Header */
.site-header{/*este es el header para la pagina nosotros no afecta a los demas por que los otros tienen 2 clases por lo tanto se sobreescriben*/
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}

.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header{
  height: 100%;/*el hijo toma toda la altura del hijo y llena la del padre*/
  display: flex;/*usamos flexbox*/
  flex-direction: column;/*posiciona el contenido de abajo hacia arriba*/
  justify-content: space-between;/*da un espacio entre los elementos*/
  text-align: center;
}
@media (min-width:768px) {
    .contenido-header{
      text-align: left;
    }
}
/*solo seleccionamos del contenido-header el h1  y como solo tenemos un h1 por pagina*/
/*y solo quiero afectar este h1 lo debo hacer de esta manera:*/
.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;/*nos agregar separacion de 20pixeles*/
    /*padding es espacio de separacion hacia adentro del elemento*/
    /*margin es espacio de separacion del elemento hacia otro elemento en este caso no hay ninguno*/
    max-width: 60rem;/*nos permite que no pase de 600pixeles y cree una nueva linea esto se puede hacer en lugar de un </br>*/
    line-height: 2;/*interlineado para texto del h1 1,2,3 son valores para separar por renglon tambien se puede poner rem*/
}
.barra{
  padding-top: 3rem;/*espacio hacia adentro del elemento*/
}

@media (min-width:768px) {
    .barra{
      display: flex; /*trata a los elementos tal cual como son*/
      justify-content: space-between; /*alinea uno a la izquierda y otro a derecha*/
      align-items: center;/*para alineacion vertical perfectamente centrado entre el logo y los enlaces*/
    }
}

/**Navegacion**/
/*Defino una clase y despues selecciono los elementos que son hijos de esta clase*/
/*para esto primero creo un selecctor para el elemento padre*/
/*segundo seleccionar los hijos por medio del nombre de su etiqueta html*/
.navegacion a{
  color: rgba(255, 255, 255, .8); /*rojo verde azul transparencia (255 255 255 es blanco)*/
  text-decoration: none;/*permite eleminar las lineas de los textos del enlace (es una decoracion)*/
  font-size: 2.2rem;
  display: block;
}
@media (min-width:768px) {
  .navegacion a{
    display: inline-block;
    font-size: 1.8rem; /** = 18px**/
    margin-right: 2rem;/*separacion con el siguiente elemento (agrega espacio a la derecha de cada elemento)*/
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}
/*pseudo selector es una propiedad que te permite por ejemplo seleccionar el primer elemento*/

/*pseudoselector mas comun es este*/
/*NOTA: el pseudoselector debe estar pegado al : */
.navegacion a:hover{
  color: green;
}


/** Iconos Nosotros **/
@media (min-width:768px) {
  .iconos-nosotros{
      display: flex;
      justify-content: space-between;
  }
}
.icono{
  text-align: center;
}
@media (min-width:768px) {
  .icono{
      flex-basis: calc(33.3% - 1rem);/*pensado para que sea responsive*/
  }
}
.icono h3{
  text-transform: uppercase;
}
/** Anuncions **/
/*las siguientes clases se utilizan para modelar lo que se conoce en los frameworks como cards*/
@media (min-width:768px) {
  .contenedor-anuncios{
      display: flex; /*habilitamos el flexbox para el dise単o*/
      justify-content: space-between; /*genera un espacio de separacion entre los contenedores*/
      flex-wrap: wrap;/*sirve para que si el contenido se para de la pagina entonces se situe abajo*/
  }
}
.anuncio{
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;/*separacion de anuncios de 2opixeles para abajo*/
}
@media (min-width:768) {
    .anuncio{
      flex: 0 0 calc(33.3% - 1rem);/*grow=0(0 es no)(el contenido crece si esposible); shrink=0(0 es no)(el contenido se achica si es posible); la base */
    }
}
.contenido-anuncio{
  padding: 2rem;
}
.contenido-anuncion h3, .contenido-anuncion p{
  margin: 0;
}
.precio{
    color: #71B100;
    font-weight: 400;
}
.iconos-caracteristicas{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex: 1;/*con esto puede creer el icono pero...*/
  max-width: 50rem;/*lo acotamos a 500 pixeles*/
}
.iconos-caracteristicas li{
  /*flex: 1;*/
  display: flex;
}
.iconos-caracteristicas li img{
  margin-right: 2rem;
}


@media (min-width:768px) {
  .ver-todas{
    display: flex;
    justify-content: flex-end;
  }
}

/** Contacto Home **/

.imagen-contacto{
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;/*con esto hacemos que la imagen se expanda por completo en toda la seccion sin deformar el tama単o de la imagen*/
  /*hasta aca solo cargue la imagen y la ajuste*/
  height: 40rem;/*con esto sobreescribimos la expansion hacia arriba en 40 pixeles para que no sea exagerada*/
  display: flex;
  align-items: center;
  /*con esas propiedades consigo ajustar el contenido de la seccion*/
}
/*esta clase esta creada para dar forma al texto contenido en la seccion*/
/*ya que debe separarse*/
.contenido-contacto{
  flex: 0 0 95%;
  color: #ffffff;
}
.contenido-contacto p{
  font-size: 1.8rem;
}

/** Seccion inferior **/
@media (min-width:768px) {
  .seccion-inferior{
    display: flex;
    justify-content: space-between;
  }
  .seccion-inferior .blog{
    flex-basis: 60%;
  }
  .seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
  }
}

/*con las 3 clases anteriores generamos el espacion de separacion entre articulos*/
.entrada-blog{
  margin-bottom: 2rem;/*espacio de separacion entre elementos hacia abajo*/
}
@media (min-width:768px) {
  .entrada-blog{
    display: flex;
    justify-content: space-between;
  }
}
.entrada-blog:last-of-type {
  margin-bottom: 0; /*para que el ultimo elemento no tenga espacio de separacio abajo*/
}
@media (min-width:768px) {
  .entrada-blog .imagen{
    flex-basis: 40%;
  }
  .entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
  }
}
/*con las 4 clases anteriores se genera la separacion entre la imagen y el texto*/
.texto-entrada a{
  color: #000000;/*color de texto negro*/
  text-decoration: none;/*eliminar decoraciones de texto*/
}
.texto-entrada h4{
  margin: 0;
  line-height: 1.5;/*interlineado*/
}
.texto-entrada h4::after{ /*::after quiere decir crearme un elemento (pseudoelemento) despues del h4*/
  content: '';/*se llama pseudo elemento por que no se puede seleccionar*/
  display: block;
  width: 15rem;/*150px*/
  height: .5rem;/*5px*/
  background-color: #71B100;
  margin-top: 1rem;
}
.texto-entrada span {
  color: #E08709;
}
/** Testimoniales **/

.testimonial{/*con esta clase agregamos un fondo verde con esquinas redondeadas*/
  background-color: #71B100;
  font-size: 2.4rem;
  padding: 2rem;
  color: #ffffff;
  border-radius: 2rem;
}
.testimonial p{
  text-align: right;/*alineamos el parrafo a la derecha*/
}

.testimonial blockquote::before{ /*NOTA: before es el hijo de blockquote*/
  content: '';/*creamos contenido vacio para que se cree el elemento*/
  background-image: url(../img/comilla.svg);/*cargamos la imagen de comillas*/
  width: 4rem;
  height: 4rem;
  position: absolute;/*esto me permite acceder a otras propiedades de posicionamiento*/
  top: 0;/*esto significa me posicion arriba y de ahi me voy corriendo n valores en pixeles hacia abajo*/
  left: -2rem;
}
.testimonial blockquote{
  position: relative;/*siempre que usemos posicion relativa y absoluta. el padre debe tener una posicion relativa*/
  padding-left: 5rem;/*desplazo el blockquote 50px a la izquierda generando espacio en blanco para poner mi comilla*/
  font-weight: 300;
}


/** Footer **/
.site-footer{
  background-color: #333333;
  margin: 0;
}
.contenedor-footer{
  padding: 3rem 0;
  text-align: center;
}
@media (min-width:768px) {
    .contenedor-footer{
      display: flex;
      justify-content: space-between;
    }
}
.site-footer nav{
  display: none;
}
@media (min-width:768px) {
    .site-footer nav{
      display: block;
    }
}

.copyright{
  margin: 0;
  color: #ffffff;
}


/** INTERNAS **/

/** Nosotros **/
@media (min-width:768px) {
  .contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr);/*tengo definido 2 columnas que se reparten 50 y 50 son 2 por que tengo 2 elementos hijos la imagen y el texto la definicion de espacios depenede de la cantidad de elementos que tenga*/
    grid-column-gap: 3rem;
  }
}
.texto-nosotros blockquote{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 0 0 3rem 0;;
}

/** Anuncio **/
.resumen-propiedad{
  display: flex;
  justify-content: space-between;
  align-items: center;/*alinea verticalmente*/
}

/** Contacto **/
.contacto p{
  font-size: 1.4rem;
  color: #000000;
  margin: 3rem 0 0 0;
}

legend{
  font-size: 2rem;
  color: #333333;
}

label{
  display: block;/*va hacer que tomen todo el espacio disponible y ya no se encima uno con otro*/
  font-weight: 700;
  text-transform: uppercase;
}
input:not([type="submit"]),textarea,select{
  padding: 1rem;
  display: block;
  width: calc(100% - 2rem);
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}
input[type="radio"]{
  width: auto;
  margin: 0;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
textarea{
  height: 20rem;
}
.forma-contacto{
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
